
.wrapper-account-settings {
    background: $white;
    width: 100%;

    .account-settings-container {
        max-width: grid-width(12);
        padding: 0 10px;
        margin: 0 auto;
    }

    .ui-loading-indicator,
    .ui-loading-error {
         @extend .ui-loading-base;
         // center horizontally
         @include margin-left(auto);
         @include margin-right(auto);
         padding: ($baseline*3);

         text-align: center;

        .message-error {
            color: $alert-color;
        }
    }
}

.fa.fa-question-circle {
  color: $blue;
  vertical-align: bottom;
  margin-bottom: 19px;
  margin-left: 10px;
}

.fa.fa-check {
  color: $blue;
  margin-left: 10px;
  margin-bottom: 3px;
  vertical-align: bottom;
}

.account-settings-sections.mobile {

    .section-header {
        color: $pique-header-color;
    }

    .section {
        background-color: $white;
        margin-top: $baseline;
        border-bottom: 1px solid $m-gray-l4;

        .account-settings-header-subtitle {
            font-size: em(18);
            line-height: normal;
            color: $dark-gray;
            padding-top: 20px;
            padding-bottom: 10px;
        }

        .account-settings-section-body {

            .u-field {
                border-bottom: 1px solid $m-gray-l4;
                position: relative;

                .field {
                    width: 90%;
                    vertical-align: top;
                    display: inline-block;
                    position: relative;

                    input {
                        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                    }

                    select {
                        @include appearance(none);
                        padding: 14px 30px 14px 15px;
                        border: 1px solid $light-gray;
                        background-color: transparent;
                        border-radius: 2px;
                        position: relative;
                        z-index: 10;
                        &::-ms-expand{
                            display: none;
                        }
                        ~ .icon-caret-down{
                            &:after{
                                content: "";
                                border-left: 6px solid transparent;
                                border-right: 6px solid transparent;
                                border-top: 7px solid $blue;
                                position: absolute;
                                right: 10px;
                                bottom: 20px;
                                z-index: 0;
                            }
                        }
                    }
                    .field-label {
                        display: block;
                        width: auto;
                        margin-bottom: 0.625rem;
                        font-size: 1rem;
                        line-height: 1;
                        color: $dark-gray;
                    }

                    .field-input {
                        @include transition(all 0.125s ease-in-out 0s);
                        display: inline-block;
                        padding: 0.625rem;
                        border: 1px solid $light-gray;
                        border-radius: 2px;
                        background: $white;
                        font-size: $body-font-size;
                        color: $dark-gray;
                        width: 100%;
                        height: 48px;
                        box-shadow: none;
                    }

                    .u-field-link {
                        @extend %ui-clear-button;

                        // set styles
                        @extend %btn-pl-default-base;
                        @include font-size(18);
                        width: 100%;
                        border: 1px solid $blue;
                        color: $blue;
                        padding: 11px 14px;
                        line-height: normal;
                    }

                    #u-field-value-username {
                        padding-top: ($baseline/2);
                    }
                }
                
                .u-field-message {
                    position: relative;
                    padding: 24px 0 0 ($baseline*5);

                    .u-field-message-notification {
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        padding: 38px 0 0 ($baseline*5);
                    }
                }

                &:last-child {
                    border-bottom: none;
                    margin-bottom: ($baseline*2);
                }
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.u-field-message-notification.mobile {
  display: inline-block;
  font-size: 13px;
  color: #9fa1a3;
}

.u-field-message-help.mobile {
  display: none;
}
